<!--
##==================================================================##
## @author    : OCdevWizard                                         ##
## @contact   : ocdevwizard@gmail.com                               ##
## @support   : http://help.ocdevwizard.com                         ##
## @license   : http://license.ocdevwizard.com/Licensing_Policy.pdf ##
## @copyright : (c) OCdevWizard. Smart Contact Us Pro, 2017         ##
##==================================================================##
-->
<div class="tile tile-primary">
  <div class="tile-heading">
    {{ heading_title }}
  </div>
  <div class="tile-body"><i class="fa fa-envelope-o" aria-hidden="true"></i>
		<div class="table-responsive">
			<table class="table smcm-table" style="margin-bottom: 0;">
	    	<tr>
	    		<td>{{ text_total_smart_contact_us_pro_1 }}</td>
	    		<td class="text-right">{{ total_viewed }}</td>
	    	</tr>
	    	<tr>
	    		<td>{{ text_total_smart_contact_us_pro_2 }}</td>
	    		<td class="text-right">{{ total_not_viewed }}</td>
	    	</tr>
	    	<tr>
	    		<td>{{ text_total_smart_contact_us_pro_3 }}</td>
	    		<td class="text-right">{{ total }}</td>
	    	</tr>
  		</table>
  	</div>
  </div>
  <div class="tile-footer"><a href="{{ link }}">{{ button_view_more }}</a></div>
</div>